Microsoft.Flow/flows/07560401-50e6-4c4e-bee1-59e91c04cb44/definition.json
{"name":"55eb459a-8766-4dfa-875c-7826d1f88aca","id":"/providers/Microsoft.Flow/flows/55eb459a-8766-4dfa-875c-7826d1f88aca","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"WF_LeaveRequestApproval","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"bac190a2-21df-4d58-af97-2b0623076c1c","type":"User","tenantId":"913c59d2-44a2-49a1-bab1-261e69eb2210"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-06-12T20:59:09.9155703Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"78c0f73c-7ba1-455e-9f7c-345e9654f370"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetOnUpdatedItems"},"parameters":{"dataset":"https://4g0zv5.sharepoint.com/sites/LeaveRequest","table":"4b1d5646-4b35-426f-990c-eda3e3cf4a04"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"cabde5b0-7104-4bfe-9002-1cc9ed4125bd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":"Leave Request ID: @{triggerOutputs()?['body/ID']} | Leave Submitted","emailMessage/Body":"Hello @{triggerOutputs()?['body/Author/DisplayName']},\n\nYour Leave Request has been submitted for review.\n\nRegards,\nAdmin"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@triggerOutputs()?['body/ApproverName']","actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"cf112322-9c4e-4658-b9ad-c5366b9bdf45"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"Leave Request ID: @{triggerOutputs()?['body/ID']} | Leave Request for Approval  ","WebhookApprovalCreationInput/assignedTo":"@{items('Apply_to_each')?['Email']};","WebhookApprovalCreationInput/details":"Leave Request has been submitted for review.","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/{Link}']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"5da7752d-efe6-4cd0-9c5c-2829b019f7f7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":"Leave Request ID: @{triggerOutputs()?['body/ID']} | Leave Request Approved","emailMessage/Body":"<p>Hello @{triggerOutputs()?['body/Author/DisplayName']},<br>\n<br>\nYour Leave request has been Approved by the respective Manager.<br>\n<br>\nRegards,<br>\nAdmin</p>"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"9e2cf7b4-b69b-4c76-abc2-b58035379800"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://4g0zv5.sharepoint.com/sites/LeaveRequest","table":"4b1d5646-4b35-426f-990c-eda3e3cf4a04","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/LeaveReason":"@triggerOutputs()?['body/LeaveReason']","item/Status/Value":"Approved","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/LeaveType/Id":"@triggerOutputs()?['body/LeaveType/Id']","item/IsActiveRecord/Value":"@triggerOutputs()?['body/IsActiveRecord/Value']","item/UpdateByFlow/Value":"Yes"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"203e2dfb-9275-49c6-9457-8005e144d8cc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":"Leave Request ID: @{triggerOutputs()?['body/ID']}| Leave Request Rejected","emailMessage/Body":"<p>Hello @{triggerOutputs()?['body/Author/DisplayName']},<br>\n<br>\nYour Leave request has been rejected by the manager.<br>\n<br>\nRegards,<br>\nAdmin</p>"},"authentication":"@parameters('$authentication')"}},"Update_item_2":{"runAfter":{"Send_an_email_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"55fd73ce-cc0c-4686-aadd-25292a8a19db"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"parameters":{"dataset":"https://4g0zv5.sharepoint.com/sites/LeaveRequest","table":"4b1d5646-4b35-426f-990c-eda3e3cf4a04","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/LeaveReason":"@triggerOutputs()?['body/LeaveReason']","item/Status/Value":"Denied","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/LeaveType/Id":"@triggerOutputs()?['body/LeaveType/Id']","item/IsActiveRecord/Value":"@triggerOutputs()?['body/IsActiveRecord/Value']","item/UpdateByFlow/Value":"Yes"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"53d9fd3d-8dc0-4ad4-bad8-b785d0e88961"},"type":"If"}},"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"423a1f2e-c4ac-40bb-bef8-6fb0b74bce3b"},"type":"Foreach"}}},"expression":{"equals":["@triggerOutputs()?['body/UpdateByFlow/Value']","Yes"]},"metadata":{"operationMetadataId":"da9c78ba-2a76-4ebc-9005-608744c15028"},"type":"If"}}},"connectionReferences":{"shared_office365_1":{"connectionName":"shared-office365-8e83857a-fe95-419e-b89b-f0bfa2e33bc5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_approvals_1":{"connectionName":"shared-approvals-3cbf3be4-96f0-4093-a253-e9d54883ca61","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"7cc9f569bf9f4540afaddcd1f5366c60","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}